@import "~components/variables"

.Navbar
  position: fixed
  top: 0
  display: flex
  align-items: center
  justify-content: flex-end
  width: 100%
  height: $navbar-height
  background: white
  border-bottom: 1px solid $light-grey

.AccountMenuToggle
  margin-right: 30px
  cursor: pointer

.Invite-Notification
  margin-right: 20px
  color: black
